@charset "utf-8";
@use "sass:list";

/**
 * @site Testimonials grid section
 * @author Victor Brito
 */

// Browser configuration
@use "./base/config" as *;

@use "./base/mixins" with (
    $media-queries-breakpoints: (
        two-column-testimonials: 660,
        four-column-testimonials: 1075
    )
);
@use "./variables";
@use "./base/reset";
@use "./base/print";
@use "./typo/font-face";
@use "./layout/layout";
@use "./testimonials/testimonials";
